
body {
   width: 100%;
   height: 100%;
   overflow: scroll;
}

.tablero{
 /*  background: url(images/fondo.png) no-repeat center center fixed;*/
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100%;

   padding-top: 1px; }





.flip {

margin: 0;
padding: 3px 5px;
display: inline-block;
perspective: 800;
-moz-perspective: 800;
-webkit-perspective: 800;
}

.flip .card.flipped {
-o-transform: rotateY(-180deg);
-webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-180deg);
transform: rotateY(-180deg);
}

.flip .card {
/*width: 100%;
height: 100%;*/
position: relative;
transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-webkit-transform-style: preserve-3d;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
margin-bottom: 20px;
}

.flip .card .face {
width: 100%;
height: 100%;
position: absolute;
-moz-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-backface-visibility: hidden;
z-index: 2;
font: 2.5em Arial;
text-align: center;
line-height: 120px;
}

.flip .card .front {
position: absolute;
z-index: 1;
background: url('/images/memorama/backimagen.jpeg');
background-size: cover;
color: white;
cursor: pointer;
   border-radius: 20px;
}

.flip .card .back {
-moz-transform: rotateY(-180deg);
-o-transform: rotateY(-180deg);
transform: rotateY(-180deg);
-webkit-transform: rotateY(-180deg);
background: white;
color: black;
cursor: pointer;
}

.Memorama-Title{
	color: #0351af;
	margin-bottom: 40px;
}

.Memorama-Mensaje{
	display: none;
	width: 483px;
    padding: 25px 0px;
    margin: 0px auto;
    margin-bottom: 40px;
}

.Memorama-Btn{
	padding-top: 4px;
	margin-top: 10px
}

.prueba{
    position: absolute;
    z-index: 1;
    background: url('');
    background-size: cover;
    color: white;
    cursor: pointer;
    border-radius: 30px;
}
